{% extends "base.html" %}
{% block title %} Recuperar Password {% endblock %}

{% block head-extra %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/ESTILOS.css' %}">





{% endblock %}

{% block content %}
{% load static %}

<body style="background-color: #383b3d;">
    <div class="container">
        <div class="row "
            style="height: 400px; margin-top: 180px; margin-left: 10px; margin-right: 10px; margin-bottom: 180px;">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6 rounded" style="background-color: rgb(255, 255, 255);">
                <h1 style="padding-top: 80px; text-align: center; font-weight: bold; ">Correo de recuperación de contraseña enviado</h1>
                <p >Le hemos enviado al correo ingresado, las instrucciones correspondientes para la recuperación de su contraseña</p>
                <p>Si no ha recibido el correo, asegurese que la direccion de correo es la correcta y realize la operación otra vez si lo necesita</p>


            </div>

            <div class="col-lg-3">

            </div>



        </div>
    </div>
    {% endblock %}