{% extends "base.html" %}
{% block title %} Recuperar Password {% endblock %}

{% block head-extra %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/ESTILOS.css' %}">





{% endblock %}

{% block content %}
{% load static %}

<body style="background-color: #383b3d;">
    <div class="container">
        <div class="row "
            style="height: 400px; margin-top: 180px; margin-left: 10px; margin-right: 10px; margin-bottom: 180px;">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6 rounded" style="background-color: rgb(255, 255, 255);">
                <h1 style="padding-top: 80px; text-align: center; font-weight: bold; ">Recuperar contraseña</h1>

                <div class="row inicioform " style=" padding-top: 40px;">
                    <form action="#" method="POST" class="text-center">
                        {% csrf_token %}

                        <div class="form-group" style="margin-bottom: 30px; ">
                            {{ form }}
                        </div>
                        <br>
                    
                        <div class="form-group" style="margin-bottom: 30px;">
                            <input type="submit" value="Enviar correo" class="btn btn-dark"> |
                            <a href="{% url 'login' %}" class="btn btn-dark">Iniciar Sesión</a> 
                        </div>

                        <!-- BOTON CONTRASEÑA -->
                        <!-- <div class="mt-3">
                            <input type="checkbox" id="showPasswordCheckbox" onchange="togglePasswordVisibility()">
                            <label for="showPasswordCheckbox">Mostrar contraseña</label>
                        </div> -->

                        <!-- BOTONES INICIO Y REGISTRO -->
                         <!-- <a href="{% url 'registrar' %}" class="btn btn-dark">Registrarse</a> |
                        <a href="{% url 'home' %}" class="btn btn-dark">Home</a> |
                        <a href="{% url 'login' %}" class="btn btn-dark">Iniciar Sesión</a>  -->

                    </form>

                </div>



            </div>

            <div class="col-lg-3">

            </div>



        </div>
    </div>
    {% endblock %}