{% extends "base.html" %}
{% block title %}Recuperar Password{% endblock %}

{% block head-extra %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/ESTILOS.css' %}">
{% endblock %}

{% block content %}
<body style="background-color: #383b3d;">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-lg-6">
                <div class="card shadow-lg p-4" style="background-color: #fff; border-radius: 15px;">
                    <div class="card-body text-center">
                        <h1 class="mb-4" style="font-size: 2rem; font-weight: bold;">Contraseña recuperada con éxito!</h1>
                        <p class="mb-3" style="font-size: 1rem;">La contraseña fue modificada correctamente. Inicie sesión con su nueva contraseña...</p>
                        <a href="{% url 'login' %}" class="btn btn-dark">Iniciar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
