{% extends "base.html" %}
{% block title %} Recuperar Password {% endblock %}

{% block head-extra %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/ESTILOS.css' %}">
{% endblock %}

{% block content %}
{% load static %}

<body style="background-color: #383b3d;">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-lg-6">
                <div class="card shadow-lg p-4" style="background-color: #fff; border-radius: 15px;">
                    <div class="card-body text-center">
                        {% if validlink %}
                            <h1 style="font-size: 2rem; font-weight: bold; margin-bottom: 20px;">Nueva Contraseña</h1>
                            <form action="#" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group text-left" style="margin-bottom: 30px;">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <div class="form-group">
                                    <input type="submit" value="Cambiar Contraseña" class="btn btn-dark btn-block">
                                </div>
                            </form>
                        {% else %}
                            <h1 style="font-size: 2rem; font-weight: bold; margin-bottom: 20px;">Error para configurar nueva contraseña</h1>
                            <p>El link de recuperación es inválido. Es probable que este link haya sido usado con anterioridad.</p>
                            <p>Para seguir con la recuperación de su contraseña, realice la petición nuevamente.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

