{% extends "base.html" %}
{% block title %} Recuperar Password {% endblock %}

{% block head-extra %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/ESTILOS.css' %}">





{% endblock %}

{% block content %}
{% load static %}

<body style="background-color: #383b3d;">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-6">
            <div class="card shadow-lg p-4" style="background-color: #fff; border-radius: 15px;">
                <div class="card-body text-center">
                    <h1 style="font-size: 2rem; font-weight: bold; margin-bottom: 20px;">Correo de recuperación de contraseña enviado</h1>
                    <p style="font-size: 1rem; margin-bottom: 15px;">Le hemos enviado al correo ingresado, las instrucciones correspondientes para la recuperación de su contraseña.</p>
                    <p style="font-size: 1rem;">Si no ha recibido el correo, asegúrese que la dirección de correo es la correcta y realice la operación otra vez si lo necesita.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
    {% endblock %}