{% extends "base.html" %}

{% block title %} Boleta {% endblock %}

{% block head-extra %}
{% load static %}

    
{% endblock %}

{% block content %}
{% load static %}

<!-- TABLA -->
 <body style="background-color: #fdfbf1;">
    <h1 class="text-center" style="margin-top: 100px;font-size: 70px; font-weight: bold"> Historial boletas </h1>
 <main class="container-fluid" style=" margin-top: 70px;padding: 60px;">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form class="form-inline mt-2 mt-md-0" method="GET">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar producto..." aria-label="Search" id="nombreCamion" name="buscar">
                
            </form>
        </div>
    </div>
    <br>
    <div >
        <table class="table table-bordered table-striped table-hover " >
            <thead>
                <tr class="tablefontth text-center">
                    <th>Código Boleta</th>
                    <th>Nombre Producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Usuario</th>
                    
                </tr>
            </thead>
            <tbody id="boletas">
                {% for de in detalle_boletas%}
                    <tr>
                        <td>{{ de.id_boleta }}</td>
                        <td>{{ de.id_producto }}</td>
                        <td>{{ de.cantidad }}</td>
                        <td>$ {{ de.subtotal }}</td>
                        <td>{{de.cliente}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    
        </table>
        
    </div>
      

 </main>
 </body>



{% endblock %}